# Byte-compiled / optimized / DLL files
__pycache__/
.vscode

secrets/credentials.json
data/token.json
sandbox.py

res/categories.json

financesync/utils/config.py

# Systemd files 
finance.service
finance.timer